/* Variables */

$navy: #092d72
$lightblue: #f1f5ff
$white: #f2fcff

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  overflow-x: hidden

body
  background: $white
  font-family: 'Rubik'
  font-size: clamp(100%, 1rem + 2vw, 24px)
  color: $navy
  overflow-x: hidden

h1
  font-size: clamp(1em, 1rem + 2vw, 3em)
  line-height: 1.1em
  font-family: "Poppins", sans-serif

h2
  font-size: clamp(1em, 1rem + 1.5vw, 2.5em)
  line-height: 1.1em
  font-family: "Poppins", sans-serif

p
  font-size: clamp(0.5em, 1rem + 0.2vw, 1.5em)
  font-weight: 300

a:hover
  filter: brightness(120%)
  transition: all 0.2s ease-in-out
// Header
header
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  padding: 0 10vw
  align-items: center
  height: 15vh
  background: $lightblue

  .header-logo
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    height: 100%
    font-size: clamp(0.5em, 1rem + 0.2vw, 1.5em)
    img
      height: 35%
    h3
      margin-left: 2vw
      color: $navy
      letter-spacing: 0.17em

  .header-links
    a
      text-decoration: none
      color: $navy
      margin: 0 2vw
      font-weight: 300
      font-size: clamp(0.5em, 1rem + 0.2vw, 1.5em)

// Splash screen
.splash-screen
  background: $lightblue
  -webkit-clip-path: ellipse(81% 76% at 51% 24%)
  clip-path: ellipse(75% 75% at 51% 24%)
  display: flex
  flex-flow: row nowrap
  justify-content: space-evenly
  align-items: center
  padding: 5vh 0 0 10vw
  overflow: hidden

  .splash-text
    display: flex
    flex-flow: column nowrap
    width: clamp(300px, 50%, 400px)
    align-self: flex-start
    p
      margin: 3vh 0 5vh 0
      width: 80%
    a
      text-decoration: none
      font-size: clamp(0.7em, 1rem + 0.4vw, 1.8em)
      font-family: "Poppins", sans-serif
      font-weight: 600
      padding: 1.5vh 4vw
      background: $navy
      border-radius: 50px
      color: white
      width: fit-content
  .splash-img
    width: 40%
    img
      width: 150%
      height: auto

// Double screenshot section
.waves
  padding: 20vh 0 10vh 0
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  .double-screen
    display: flex
    flex-flow: row nowrap
    align-items: center
    position: relative
    width: 40vw
    .big-screenshot
      margin: 0
      padding: 0
      width: 95%
      box-shadow: -31px 13px 19px 11px rgba(1, 6, 53, 0.23)
    .small-screenshot
      right: -3vw
      position: absolute
      width: 40%
      border-radius: 20px
      box-shadow: -5px 13px 19px 5px rgba(1, 6, 53, 0.23)

  .waves-text
    width: 60vw
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column nowrap
    h2
      width: 40%
    p
      width: 40%
      margin-top: 3vh

// Calm section
.calm
  background: $lightblue
  -webkit-clip-path: ellipse(71% 46% at 50% 50%)
  clip-path: ellipse(71% 46% at 50% 50%)
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  padding-top: 10vh
  margin-top: 10vh
  overflow: hidden

  .calm-text
    text-align: center
    margin: 5vh auto 5vh
    width: 70%
    p
      margin: 2vh auto 5vh
      width: clamp(50vh, 70%, 1000px )
  .calm-image
    max-width: 60vw
    margin: auto
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%

// Speculation section
.speculation
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
  align-items: center
  margin-top: 20vh
  position: relative
  margin-bottom: 20vh
  .speculation-text
    margin: 0 10vw
    width: clamp(500px, 40vw, 700px)
    align-self: center
    h2
      margin-bottom: 2vh
  .speculation-image
    position: relative
    width: 30vw
    height: auto
    min-height: 30vh
    .rotating-logo
      width: 30vw
      height: 100%
      position: absolute
    #logo1
      top: 0
      right: 0
      z-index: 3
    #logo2
      top: 0
      right: -4vw
      z-index: 2
      opacity: 50%
    #logo3
      top: 0
      right: -8vw
      z-index: 1
      opacity: 25%

// Social section
.social
  background: $lightblue
  -webkit-clip-path: ellipse(71% 46% at 50% 50%)
  clip-path: ellipse(71% 46% at 50% 50%)
  padding: 20vw 10vw
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  .social-buttons
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: flex-start
    width: clamp(300px, 30vw, 600px)
    a
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      width: 90%
      background: $navy
      margin: 2vh 0
      padding: 2vh 2vw 2vh 4vw
      border-radius: 50px
      color: $white
      text-decoration: none
      img
        filter: brightness(100)
        margin-right: 2vw
        height: 3vh
        width: auto
      p
        font-weight: bold
    #reddit
      background: #6d62b5
    #twitter
      background: #8ac0ff
    #slack
      background: #5BA7FF

  .social-text
    width: 40vw
    h2
      width: clamp(300px, 70%, 600px)
    p
      margin: 2vh 0 0 0
      width: clamp(300px, 70%, 600px)

// Whitepaper section
.whitepaper
  margin: 15vh 0
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  .cta
    display: flex
    flex-flow: column nowrap
    width: 30vw
    justify-content: space-between
    align-items: flex-start
    margin-right: 2vw
    a
      display: flex
      flex-flow: row nowrap
      justify-content: flex-start
      align-items: center
      margin-top: 5vh
      background: $navy
      padding: 1vh 4vw
      border-radius: 50px
      color: $white
      text-decoration: none
      img
        margin-right: 1vw

  .whitepaper-text
    width: clamp(300px, 30vw, 700px)
    margin-left: 2vh

// Footer
footer
  margin-top: 10vh
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  padding: 5vh 5vw
  align-items: center
  .footer-logo
    display: flex
    flex-flow: row nowrap
    align-items: center
    img
      margin-right: 1vw
  .footer-links
    a
      text-decoration: none
      color: $navy
      margin: 0 2vh 0 0
      font-size: clamp(0.5em, 1rem + 0.3vw, 1.5em)
  .footer-logos
    a
      margin: 0 2.5vh
    img
      height: 4vh

// Responsive

@media screen and (max-width: 1000px)
  .splash-screen
    min-height: 40vh
    -webkit-clip-path: ellipse(110% 75% at 51% 24%)
    clip-path: ellipse(110% 75% at 51% 24%)

@media screen and (max-width: 750px)
  header
    justify-content: center

  .header-links
    display: none

  .splash-screen
    flex-flow: column nowrap
    padding-top: 10vh
    .splash-text
      width: 80vw
      text-align: center
      align-self: center
      align-items: center
      margin-bottom: 5vh
      a
        padding: 2vh 10vw
    .splash-img
      width: 80vw
      display: flex
      align-items: center
      justify-content: center
  .waves
    flex-flow: column nowrap
    align-items: flex-start
    .double-screen
      width: 80vw
      margin-bottom: 15vh
      .small-screenshot
        border-radius: 10px
    .waves-text
      width: 80vw
      margin: auto
      h2
        width: 100%
        align-self: center
      p
        width: 100%
  .calm
    -webkit-clip-path: ellipse(171% 43% at 50% 50%)
    clip-path: ellipse(171% 43% at 50% 50%)
    padding: 15vh 0 0 0
    .calm-text
      margin: auto
      width: 80vw
      p
        width: 100%

  .speculation
    flex-flow: column
    .speculation-text
      width: 80vw
      margin-bottom: 10vh
    .speculation-image
      width: 70vw
      height: 70vw
      .rotating-logo
        height: 100%
        width: 100%
      #logo2
        right: -10vw
      #logo3
        right: -20vw

  .social
    padding: 25vh 0
    -webkit-clip-path: ellipse(171% 43% at 50% 50%)
    clip-path: ellipse(171% 43% at 50% 50%)
    flex-flow: column-reverse nowrap
    .social-buttons a img
      margin-right: 7vw
    .social-text
      width: 80vw
      p
        width: 100%
        margin-bottom: 5vh

  .whitepaper
    margin: 5vh 0
    flex-flow: column nowrap
    .cta
      width: 80vw
      margin-bottom: 5vh
      a
        padding: 2vh 10vw
        img
          height: 2vh
          margin-right: 3vw
    .whitepaper-text
      margin: 0
      width: 80vw

  footer
    flex-flow: column nowrap
    .footer-logo
      height: 10vh
      img
        height: 70%
    .footer-links
      margin: 5vh 0
